# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=5be65dc15bce0ab439bea5b6f8592b49
#TRUSTED_PROXIES=127.0.0.1
#TRUSTED_HOSTS=localhost
###< symfony/framework-bundle ###

###> symfony-bundles/redis-bundle ###
REDIS_URL=redis://127.0.0.1:6379/0
###< symfony-bundles/redis-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_PRIVATE_KEY_PATH=config/jwt/jwt.key
###< lexik/jwt-authentication-bundle ###