<nav class="navbar navbar-default navbar-fixed-side">
    <ul class="nav">
        <li><a href="{{ url('home') }}">Home</a></li>
        <li><a href="{{ url('private') }}">Private</a></li>
    </ul>
    {{ include('rendered.twig') }}
</nav>